[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = "*"

[dev-packages]
aws-lambda-powertools = {extras = ["aws-sdk"], version = "*"}
pre-commit = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.12"
